*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    background: rgb(59, 112, 112);
  animation: mymove 5s infinite;
  width: 1300px;
  height: 1200px;
  border: 1px solid black;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {background-color: rgb(196, 117, 27);}
  to {background-color: rgb(72, 110, 56);}
  50% {border: 55px solid rgb(55, 105, 77);}

  
    
  }
 
  #navbarcustom {
  
      background-color: rgb(0, 128, 128);
      
      background-image: linear-gradient(to left,  rgb(0, 128, 128), rgba(255, 140, 0, 0.479));
      
    

  }
  #navbarheader {
    background-color: rgba(98, 0, 128, 0);

}

  