@font-face{
  font-family: allFont;
  src: url(Sansa.ttf)
}

*{
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: allFont;

  line-height: 180%;
}

@font-face{
  font-family: mySpecialFont;
  src: url(fullPack.ttf)
}

.center{
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.money{
  color: green;
}

/*.card:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
*/

#postersHeader{
font-family: mySpecialFont;
}

body {
    background-color: rgb(255, 255, 255);
  }
 
  #navbarcustom {
    background-image: url("9977kiao.png"); 
    background-repeat: repeat-x;
  }
  #navbarheader {
    color: #000;
   
  }