*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    background-color: rgb(255, 255, 255);
  }
 
  #navbarcustom {
    background-image: url("9977kiao.png"); 
    background-repeat: repeat-x;
  }
  #navbarheader {
    color: #000;
   
  }